:root {
    --burgundy: #780116;
}

body {
    font-family: 'Arbutus Slab',
        serif;
    padding-top: 5rem;
}

.btn-burgundy {
    background-color: var(--burgundy);
}

.bg-burgundy {
    background-color: var(--burgundy);
}

.card {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.30);
}

.card-img {
    width: 100px;
    height: 100px;
}

.card-title {
    font-family: 'Playfair Display',
        serif;
    font-size: 1.3rem;
}

span {
    font-size: 1rem;
}

.btn {
    border-radius: 25px;
}